extends layout

block content
  div(ng-controller="indexController", ng-init="init()")
    .ui.one.column.stackable.center.aligned.page.grid.margin-30
      .column.twelve.wide
        .ui.stacked.segment.gameArea
          .circle.blue(style='left:150px; top:100px')
            .relative
              span.name Harrell
              .message selam
          .circle.green(style='left:300px; top:100px')
            .relative
              span.name Lou
            .message
          .circle.red(style='left:350px; top:300px')
            .relative
              span.name Beverley
            .message GANG
      .ui.items.chat
        .item
          .content
            a.header.name Harrell
            .description.message
              | Amari'ye selam çatışmaya devam
        .item
          .content
            a.header.name Lou
            .description.message
              |   GOAT
        .item
          .content
            a.header.name Beverley
            .description.message
              |   orospu evladı lebron
        .item
          .content
            a.header.name Azer
            .description.message
              |   Başaramadım
      .ui.action.input.fluid
        input(type='text', placeholder='Type here...')
        button.ui.button Send
